<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>

{% include header.html %}

<main class="back">
    <div class="back1">
        <h1>{{site.title | upcase}}</h1>
        <h5>{{site.subtitle }}</h5>

    </div>
    {{ content }}
</main>

{% include footer.html %}

{% include script.html %}

</body>

<style>
    .back{
        background-image: url('{{ "assets/demarca 002.png" | relative_url }}');
        background-color: black;
        background-size: 17%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
    }

</style>


</html>
